:root {
  box-sizing: border-box;
}

.contain {
  /* border: 1px solid black; */
  height: 600px;
  width: 100%;
  display: flex;
}

.section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.board {
  /* border: 1px solid blue; */
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holder {
  border: 1px solid black;
  margin-top: 5%;
  height: 530px;
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamePiece {
  border: 3px solid white;
  border-radius: 30%;
  height: 20px;
  width: 50px;
}

.black .gamePiece {
  background-color: black;
}

.red .gamePiece{
  background-color: red;
}

.gameBoard {
  border: 1px solid black;
  background-color: #FFFF00;
  height: 400px;
  width: 60%;
  display: flex;
}

.legs {
  height: 100px;
  width: 40%;
  display: flex;
}

.column {
  border: 1px solid black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.square {
  border: 2px dotted blue;
  border-radius: 50%;
  background-color: white;
  flex-grow: 1;
  display: flex;
}

.legSpace {
  flex-grow: 1;
  display: flex;
}

.legBack {
  background-color: #FFFF00;
}

.shadowOne {
  box-shadow: -10px 10px 40px black;
} 

.shadow {
  box-shadow: 10px 10px 40px black;
}

.fill {
  background-color: red;
}

